In [ ]:
# this is a test notbook

In [1]:
print("hello world")
print("me again")

hello world
me again

print("hello world")

In [1]:
a = 5
a

5

In [2]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: 0.15050053111803807,
 1: -0.040996917388166375,
 2: 0.7891266566350363,
 3: 0.04379988592226588,
 4: 0.9127098584865818,
 5: 0.4509222267447301,
 6: 0.6643863726203038}

In [3]:
a = [1, 2, 3, 4]
b = a
a.append(7)
b

[1, 2, 3, 4, 7]

In [8]:
a = 4.5
b = 2
print('a is {0}, b is {1}'.format(type(a), type(b))) 
a/b

a is <class 'float'>, b is <class 'int'>

2.25

In [9]:
a = 4.5
b = 2
print('a is {0}, b is {1}'.format(type(a), type(b))) 

a/b

a is <class 'float'>, b is <class 'int'>

2.25

In [10]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [11]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [13]:
s = 'python'
list(s)
s[:3]

'pyt'

In [14]:
s

'python'

In [15]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [16]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it